//LeftWrap
/*$coinBackground:#2b5270;
$coinBorder:#81C3D7;
$shopBorder:#81C3D7;
$imgBorder:#2F6690;
$shopBackground:#3A7CA5;
$characterBackground:#81C3D7;
$upgradeBackground:#2F6690;
$upgradeBorder:#16425B;
$scrollColor:#16425B;

//Right Wrap
$skillsButtonColor:#81C3D7;
$skillsButtonBackgroundColor:#16425B;
$settingsButtonColor:#81C3D7;
$settingsButtonBackgroundColor:#16425B;*/


//LeftWrap
/*$coinBackground:#E56B6F;
$coinBorder:#6D597A;
$shopBorder:#E56B6F;
$imgBorder:#EAAC8B;
$shopBackground:#6D597A;
$characterBackground:#E56B6F;
$upgradeBackground:#6D597A;
$upgradeBorder:#EAAC8B;
$scrollColor:#EAAC8B;

//Right Wrap
$skillsButtonColor:#EAAC8B;
$skillsButtonBackgroundColor:#6D597A;
$settingsButtonColor:#EAAC8B;
$settingsButtonBackgroundColor:#6D597A;*/

//LeftWrap
$coinBackground:#432818;
$coinBorder:#BB9457;
$shopBorder:#FFE6A7;
$imgBorder:#FFE6A7;
$shopBackground:#99582A;
$characterBackground:#BB9457;
$upgradeBackground:#99582A;
$upgradeBorder:#FFE6A7;
$scrollColor:#6F1D1B;

//Right Wrap
$skillsButtonColor:#FFE6A7;
$skillsButtonBackgroundColor:#99582A;
$settingsButtonColor:#FFE6A7;
$settingsButtonBackgroundColor:#99582A;

//Popup
$popupBackgroundColor:#99582A;
$popupCloseButton:#FFE6A7;

//Settings
$settingsBackgroundColor:#FFE6A7;
$settingsRestart:#99582A;
$settingsCloseButton:#BB9457;